*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 10px;
   }


body {
   box-sizing: border-box;
}

h1 {
    font-size: 2.5vw;
    text-align: center;
    padding: 10px 0;
}

p {
    font-size: 1.1vw;
    text-align: center;
}

.modal {
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    overflow: auto;
}

.modal-intro, .modal-name, .modal-gender {
    display: inline-block;
    position: absolute;
    background-color: white;
    height: 50vh;
    width: 50vw;
    margin: 25vh 25vw;
    border-radius: 1rem;
}

.modal-intro {
    z-index: 4;
}

.modal-name {
    z-index: 3;
}

.modal-gender {
    z-index: 2;
}

#nextModal {
    display: inline-block;
    background-color: blue;
    font-size: 1.5vw;
    font-weight: bold;
    color: white;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 50%;
    left: 25%;
    margin: 2rem 0;
    border-radius: 2rem;
}

#nextModal:hover, #nameButton:hover, #finalize:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

#nameInput {
    display: inline-block;
    position: absolute;
    width: 50%;
    padding: .5vh .5vw;
    font-size: 1.5vw;
    height: 10%;
    left: 5%;
    bottom: 40%;
}

#nameButton {
    display: inline-block;
    position: absolute;
    background-color: blue;
    font-weight: bold;
    color: white;
    font-size: 1.5vw;
    padding: .5vh .5vw;
    width: 20%;
    height: 10%;
    right: 10%;
    bottom: 40%;
}

#femaleButton {
    display: inline-block;
    position: absolute;
    background-color: grey;
    font-weight: bold;
    color: white;
    width: 40%;
    padding: .5vh .5vw;
    font-size: 1.5vw;
    height: 10%;
    right: 5%;
    bottom: 50%;
}

#maleButton {
    display: inline-block;
    position: absolute;
    background-color: grey;
    font-weight: bold;
    color: white;
    width: 40%;
    padding: .5vh .5vw;
    font-size: 1.5vw;
    height: 10%;
    left: 5%;
    bottom: 50%;
}

#finalize {
    display: inline-block;
    position: absolute;
    background-color: blue;
    font-weight: bold;
    color: white;
    width: 40%;
    padding: .5vh .5vw;
    font-size: 1.5vw;
    height: 10%;
    left: 30%;
    bottom: 10%;
}

#maleButton:hover, #femaleButton:hover {
    background-color: blue;
    cursor: pointer;
}

.game-window {
    background-image: url(images/GameBackground.png);
    background-size: cover;
    height: 80vh;
    width: 100vw;
}

.character-window {
    display: none;
    position: absolute;
    height: 80vh;
    width: 40vw;
    left: 0;
    top: 0;
}

.character-name, .character-level, .character-experience, .character-health {
    display: inline-block;
    color: white;
    font-size: 2.5vw;
    width: 40vw;
    height: 5vh;
    text-align: center;
}

.character-portrait {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    height: 60vh;
    width: 40vw;
}

.enemy-window {
    display: none;
    position: absolute;
    height: 80vh;
    width: 40vw;
    right: 0;
    top: 0;
}

.enemy-name, .enemy-level, .enemy-health{
    display: inline-block;
    color: white;
    font-size: 2.5vw;
    width: 40vw;
    height: 6.66vh;
    text-align: center;
}

.enemy-portrait {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    height: 60vh;
    width: 40vw;
}

.user-options {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 41vw;
    height: 80vh;
    width: 18vw;
}

.find-opponent {
    display: inline-block;
    position: absolute;
    word-wrap: initial;
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 2vw;
    height: 10vh;
    width: 18vw;
    top: 57.5vh;
    left: 0;
    border-radius: 2rem;
    outline: none;
}

.flee {
    display: inline-block;
    position: absolute;
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 2vw;
    height: 10vh;
    width: 18vw;
    top: 12.5vh;
    border-radius: 2rem;
    outline: none;
}

.attack {
    display: inline-block;
    position: absolute;
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 2vw;
    height: 10vh;
    width: 18vw;
    top: 35vh;
    border-radius: 2rem;
    outline: none;
}

.attack:hover, .flee:hover, .find-opponent:hover {
    background-color: red;
    transform: translateY(-0.2rem);
}

.ui {
    display: block;
    background-image: url(images/UI.png);
    position: absolute;
    height: 20vh;
    width: 100vw;
    background-repeat: no-repeat;
}

.user-interface {
    display: none;
}

.character-wrap {
    display: block;
    position: absolute;
    bottom: 1vh;
    left: 7.2vw;
    height: 18vh;
    width: 16vw;
    border: solid black;
    border-radius: 5%;
}

.character-wrap:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.character-info {
    display: inline-block;
    background-image: url(images/Stats.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
    height: 14vh;
    width: 15vw;
}

.character-label {
    display: inline-block;
    position: absolute;
    font-size: 2vw;
    font-weight: bold;
    height: 2vh;
    width: 16vw;
    bottom: 0.5vh;
    left: -.2vw;
    text-align: center;
    line-height: 1vh;
}

.invetory-wrap {
    display: block;
    position: absolute;
    bottom: 1vh;
    left: 30.4vw;
    height: 18vh;
    width: 16vw;
    border: solid black;
    border-radius: 5%;
}

.invetory-wrap:hover {
    background-color: rgba(0, 0, 0, 0.4)
}

.character-inventory {
    display: inline-block;
    background-image: url(images/Inventory.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
    height: 14vh;
    width: 16vw;
}

.inventory-label {
    display: inline-block;
    position: absolute;
    font-size: 2vw;
    font-weight: bold;
    height: 2vh;
    width: 16vw;
    bottom: 0.5vh;
    left: 0;
    text-align: center;
    line-height: 1vh;
}

.map-wrap {
    display: block;
    position: absolute;
    bottom: 1vh;
    left: 53.6vw;
    height: 18vh;
    width: 16vw;
    border: solid black;
    border-radius: 5%;
}

.map-wrap:hover {
    background-color: rgba(0, 0, 0, 0.4)
}

.character-map {
    display: inline-block;
    background-image: url(images/Map.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
    height: 14vh;
    width: 16vw;
}

.map-label {
    display: inline-block;
    position: absolute;
    font-size: 2vw;
    font-weight: bold;
    height: 2vh;
    width: 16vw;
    bottom: 0.5vh;
    left: 0;
    text-align: center;
    line-height: 1vh;
}

.enemy-wrap {
    display: block;
    position: absolute;
    bottom: 1vh;
    left: 76.8vw;
    height: 18vh;
    width: 16vw;
    border: solid black;
    border-radius: 5%;
}

.enemy-wrap:hover {
    background-color: rgba(0, 0, 0, 0.4)
}

.enemy-info {
    display: inline-block;
    background-image: url(images/Enemy.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
    height: 14vh;
    width: 15vw;
}

.enemy-label {
    display: inline-block;
    position: absolute;
    font-size: 2vw;
    font-weight: bold;
    height: 2vh;
    width: 15vw;
    bottom: 0.5vh;
    left: 0;
    text-align: center;
    line-height: 1vh;
}
